@CHARSET "ISO-8859-1";

body
{
	background-color: #104E8B;
	font-family: Arial, sans-serif;
	font-size: 16px;
	line-height: 1.42857143;
	color: #FFF;
	overflow-y: scroll;
}

a
{
	color: #FFF;
	text-decoration: none;
}

form
{
	height: 100%;
}

h3
{
	color: #666;
}

h4, .h4 {
	font-size: 18px;
}

h4, .h4, h5, .h5, h6, .h6 {
	margin-top: 10px;
	margin-bottom: 10px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-weight: 500;
	line-height: 1.1;
	color: inherit;
}

.ui-widget, .ui-widget .ui-widget 
{
    font-size: 92%;
}

.ui-icon.fa 
{
    text-indent: 0px
}

.ui-dialog-buttonpane
{
	text-align: right !important;
}

.ui-panelmenu .ui-icon, .ui-state-default, .ui-state-hover
{
	background-image: none;
}

.ui-menu .ui-menuitem-link .ui-menuitem-icon {
	margin-right: 5px;
}

.ui-panelmenu-content .ui-menuitem-text
{
	margin-left: 5px;
}

.ui-overlay-hidden
{
	display: none;
}

.ui-datatable
{
	font-size: 85%;
}

.ui-chkbox-box
{
	margin: 0 5px -6px 0;
}

.message {
	padding: 15px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-radius: 4px;
	text-align: justify;
}

.message-warning {
	background-color: #fcf8e3;
	border-color: #faebcc;
	color: #8a6d3b;
}

.message h4 {
	margin-top: 0;
	color: inherit;
}

.message i {
	margin-right: 5px;
}

.truncated
{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;  /* IE 6+, FF 7+, Op 11+, Saf 1.3+, Chr 1+ */
    -o-text-overflow: ellipsis;  /* for Opera 9 & 10 */	
}

.clear-left-margin
{
	margin-left: 0 !important;
	left: 0 !important;
}

.decorated-link
{
	color: blue;
	text-decoration: underline;
}

.text-blue
{
	color: #104E8B;	
}

.text-orange
{
	color: #FF8C00;	
}

.small-text
{
	font-size: 12px;
}

.ssp-text-center
{
    text-align: center;
}

.ssp-vertical-line
{
	height: 130px;
	display: block;
	border: 1px solid #AAA;
}

/* Main Template */

.layout
{
	height: 0px;
}

#ssp-header
{
	width: 1270px;
	height: 100px;
	position: relative;
}

#ssp-header-company-logo
{
	width: 250px;
	height: 100px;
	position: absolute;
	top: 8px;
	left: 5px;
}

#ssp-menu-left
{
	width: 250px;
	height: 602px;
	padding: 5px;
	position: relative;
	float: left;
	top: 107px;
	background-color: white;
	border: 1px solid #AAA;
}

#ssp-menu
{
	width: 250px;
}

#layout-content
{
	width: 1290px;
	height: 612px;
	top: 107px;
	left: 268px;
	position: relative;
	background-color: #FFF;
	border: 1px solid #AAA;
}

.ssp-footer
{
	width: 99%;
	height: 34px;
	margin-top: 125px;
	text-align: center;
	vertical-align: middle;
	font-size: 12px;
	font-weight: bold;
}

.ssp-content-header
{
	width: 99%;
	margin: 6px 0 0 6px;
	position: relative;
	background-color: #DDD;
}

.ssp-content-body
{
	width: 99%;
	height: 554px;
	position: absolute;
	top: 50px;
	left: 5px;
	border: 1px solid #CCC;
}

.ssp-content-body-no-border
{
	width: 99%;
	height: 554px;
	position: absolute;
	top: 50px;
	left: 5px;
	border: none;
}

#mainContainer
{
	width: 1570px;
	height: 760px;
	margin: 0 auto;
	padding: 0;
}

/* Tool Bar */
.header-tool-bar
{
	width: 400px;
	float: right;
	margin-top: -8px;
	margin-right: 5px;
	padding-right: 4px;
	font-size: 12px;
	font-weight: bold;
	text-align: right;
}

.header-tool-bar i
{
	margin-right: 5px;
}

.header-tool-bar ul li
{
	display: inline;
	list-style-type: none;
	padding-right: 3px;
}

/* Breadcrumb Bar */

.breadcrumb
{
	width: 100%;
	position: absolute;
	top: 3px;
	left: 0;
}

.breadcrumb .ui-widget-header
{
	border: none;
	background: #BBB;
}

.help-topic
{
	position: absolute;
	left: 1252px;
	top: 9px;
	cursor: pointer;
}

/* Data Table */

.ui-datatable-empty-message
{
	text-align: center;
}

.ssp-column-single-line
{
    text-wrap:none;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}

.ssp-column img
{
	display: inherit;
	margin: auto;
}

.odd-row
{
	background: none;
	background-color: #E0EEEE;
}

.green-bg-cell
{
	background-color: #B4EEB4;
}

.gray-bg-cell
{
	background-color: #CFCFCF;
}

.yellow-bg-cell
{
	background-color: #FFFACD;
}

/* Forms */
.form-grid tr.ui-widget-content, .form-grid td.ui-panelgrid-cell
{
	border: none;
	font-size: 16px;
}

.form-buttons
{
	width: 99%;
	position: absolute;
	left: 18px;
	bottom: 3px;
	text-align: right;
}

.form-buttons tr.ui-widget-content, .form-buttons td.ui-panelgrid-cell
{
	border: 1px solid #CCC;
}

.form-buttons-no-border
{
	width: 98.7%;
	position: absolute;
	left: 18px;
	bottom: 3px;
	text-align: right;
}

.form-buttons-no-border tr.ui-widget-content, .form-buttons-no-border td.ui-panelgrid-cell
{
	border: none;
}

.form-buttons-dialog
{
	width: 100%;
	position: absolute;
	left: 0;
	top: 354px;
	text-align: right;
}

.form-button
{
	margin: 2px 0 0 8px;
}

.ssp_in_row_button
{
	
}

.panel_results
{
	margin-top: 6px;
}

/* Tabbed Panels */
.ssp-tab-panel-no-border
{
	width: 99.5%;
	height: 98.5%;
	border: none;
}

/* Dialogs */
.ssp-dialog-body
{
	width: 100%;
	height: 100%;
	margin: 0;
	background: none;
	overflow: hidden;	
}

.ssp-hint-button
{
	display: inline-block;
	margin-left: 3px;
	width: 10px;
	height: 100%;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
}

.ssp-hint
{
	background-color: #D1EEEE;
	border: 1px solid #104E8B;
	border-radius: 5px;
	font-style: italic;
	text-align: justify;
}


/* Index Login Page */

.main-container-index
{
	width: 1570px;
	height: 760px;
	position: absolute;
	margin: 0 auto;
	padding: 0;
}

.index-logo
{
	width: 450px;
	height: 53px;
	position: relative;
	margin-top: 130px;
	margin-left: auto;
	margin-right: auto;
}

.index-login-area
{
	width: 469px;
	height: 234px;
	position: relative;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
	background-image:url("#{resource['ssp-web-res/images/login-bg.png']}"); 
}

.index-login-area tr, .index-login-area td,
.index-login-area .ui-panelgrid .ui-panelgrid-cell
{
    border-style: none;
}

.index-login-area label
{
	color: #AAA;
	font-weight: bold;
}

.index-toolbar
{
	margin-top: -5px;
}

.index-login-fields
{
	position: absolute;
	width: 354px;
	top: 58px;
	right: 60px;
}

.index-login-fields .form-login
{
	float: right;
	top: 0;
	right: 0;
}

.index-login-fields input[type='text'],
.index-login-fields input[type='password']
{
	width: 180px;
	height: 20px;
}

.index-login-fields .command-button
{
	width: 120px;
}

.index-login-messages
{
	float: right;
	margin-top: -90px;
}

.index-login-messages .ui-widget 
{
    font-size: 75%;
}

.index-version
{
	width: 469px;
	height: 17px;
	position: relative;
	margin-top: 5px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-size: 10px;
}

.index-footer
{
	width: 100%;
	height: 210px;
	margin: 0 auto;
	text-align: center;
	font-size: 12px;
	font-weight: bold;
}

.index-footer-content
{
	position: absolute;
	bottom: 5px;
	left: 44%;
}